* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 9vh;  
  font-family: 'Fredoka One', sans-serif;
}

main > h1 {
  font-size: 1.3rem;
  margin-bottom: 0.2rem;
  margin-top: 1.2rem;
  color: #8d4304;
}

@media (min-width: 640px) {
  main > h1 {
    font-size: 1.6rem;
  }
}

section {
  display: flex;
  justify-content: space-between;
}

article {
  height: 20vh;
  position: relative;
  color: #ffffff;
  -webkit-text-stroke: 0.3px black;
  font-size: 1.5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

article > h3 {
  position: absolute;
  bottom: 5%;
  left: 3%;
  margin: 0;
}

.col-3 {
  background: url(/images/sanssouci.jpeg) center 60%;
  width: 100%;
}

.col-1 {
  background-color: black;
  width: 30%;
}

.col-1 > h3 {
  font-size: 1.3rem;
  word-break: break-word;
  bottom: 5%;
}

@media (min-width: 640px) {
  .col-1 > h3 {
    font-size: 1.5rem;
  }
}

.col-2 {
  grid-area: web-dev-1;
  background-color: #f27405;
  width: 65%;
}

#deutsch-1 {
  background-color: #f1a008;
}

#deutsch-2 {
  background-color: #7fd2f2;
}

#deutsch-3 {
  background-color: #f2bc8d;
}

#dev-2 {
  background-color: #7fd2f2;
}
