@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --blue: #80d2f2;
  --mustard: #f2a007;
  --orange: #f27405;
  --brown: #8c4303;
  --capuccino: #f2bc8d;
  --shadow: rgba(0, 0, 0, 0.5);
}

.backdrop {
  display: none;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: var(--shadow);
  transition: opacity 0.2s linear;
}

header {
  position: fixed;
  width: 100%;
  height: 10vh;
  font-family: 'Roboto', sans-serif;
  background-color: var(--brown);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  top: 0;
  left: 0;
  z-index: 1;
}

@media (min-width: 640px) {
  header {
    display: flex;
    justify-content: space-evenly;
  }
}

#logo-box {
  display: flex;
}

#logo {
  width: auto;
  height: 4rem;
}

.toggle-button {
  width: 3.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

@media (min-width: 640px) {
  .toggle-button {
    display: none;
  }
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.3rem;
  background: #fff;
  display: block;
  margin: 0.7rem 0;
}

.mobile-nav {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: #fff;
  width: 80vw;
  height: 50vh;
  border-radius: 5px;
  transform: translateX(-100%);
  transition: transform 300ms ease-out;
}

.mobile-nav ul {
  list-style: none;
  padding: 5vh 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: .5rem;
}

.mobile-nav li {
  margin-bottom: 6vh;
}

.mobile-nav a {
  text-decoration: none;
  color: #8c4303;
  font-size: 2.4rem;
  font-family: 'Fredoka One', sans-serif;  
}

.open {
  display: block !important;
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.main-nav {
  display: none;
}

@media (min-width: 640px) {
  .main-nav {
    display: flex;
    width: 75vw;
  }
}

.main-nav > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 100%;
}

.main-nav a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
}

.main-nav a:hover,
.mobile-nav a:hover {
  color: #f1a008;
}

main {
  padding: 0 1.2rem;
}

@media (min-width: 640px) {
  main {
    padding: 0 2.2rem;
  }
}

footer {
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #000;
  color: #fff;
  height: 10vh;
  display: flex;
}

ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.svg {
  fill: #fff;
}

@media (min-width: 1024px) {
  header,
  main,
  footer {
    padding: 1rem 20vw;
  }
}
